body {
  background-color: #d0d0d0;
  color: steelblue;
  text-align: center;
  margin: 100px;
}

p {
  color: green;
  font-family: "Comic Sans MS";
  text-align: center;
  text-indent: 10px;
}

h1 {
  color: gray;
}

h2,
h3 {
  color: blue;
}

.right {
  text-align: right;
  letter-spacing: 10px;
}

#paragrafo3 {
  text-align: right;
  font-family: "Arial";
  color: yellow;
  background-color: black;
}

ol {
  list-style: upper-roman;
}

ul {
  list-style: square;
  list-style-image: url("visto.png");
}

table {
  background-color: khaki;
  border: 1px solid;
}

th {
  color: goldenrod;
  font-style: bold;
}

td {
  padding-left: 5px;
}

a {
  color: green;
  text-decoration: none;
}

a:visited {
  color: gray;
}

a:hover {
  text-decoration: underline;
  font-style: bold;
}

img {
  visibility: hidden;
}
