body {
  background-color: #000111;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 30px;
  text-align: center;
  padding-top: 10px;
}

.mainbox {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

p {
  font-size: 25px;
  text-align: center;
}

ul {
  text-align: center;
  padding: 0;
  font-size: 20px;
}

li {
  list-style-type: none;
  padding-bottom: 5px;
}
